@charset "UTF-8";

html {
    font-size: 100%
}

body {
    font: 16px/1.8 '微软雅黑', '宋体', tahoma, Srial, helvetica, sans-serif;
    color: #363535;
    -webkit-font-smoothing: antialiased
}

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, textarea, legend {
    margin: 0;
    padding: 0
}

pre, code, address, caption, cite, em, strong, th, figcaption, i, var {
    font-weight: normal;
    font-style: normal
}

b, strong {
    font-weight: bold
}

article, aside, header, footer, hgroup, nav, section, figure, figcaption, video {
    display: block
}

ul, ol, li, dl, dt, dd {
    list-style-type: none;
    list-style-position: outside
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input, button, select, textarea, label {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    -moz-outline: none;
    border: none
}

textarea {
    overflow: auto;
    resize: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    color: #363535;
    background-color: transparent;
    text-decoration: none;
    outline: none
}

a:hover {
    color: #333
}

a:active {
    outline: none
}

:focus {
    outline: none;
    -moz-outline: none
}

a img {
    border: none
}

img, video {
    max-width: 100%
}

img {
    border: none;
    -ms-interpolation-mode: bicubic
}

iframe {
    display: block;
    border: none
}

pre {
    overflow: auto
}

abbr[title] {
    border-bottom: 1px dotted
}

dfn {
    font-style: italic
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

svg:not(:root) {
    overflow: hidden
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input[type="text"]::-webkit-input-placeholder {
    color: #a9a9a9
}

input[type="text"]:-moz-placeholder {
    color: #a9a9a9;
    opacity: 1
}

::-moz-selection {
    background: #86BCEA;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #86BCEA;
    color: #fff;
    text-shadow: none
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
    border-color: transparent
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

optgroup {
    font-weight: bold
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle
}

@media print {
    img {
        max-width: 100% !important
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3
    }
}

body {
    padding-top: 158px;
}

.header {
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .inner {
    position: relative;
}

.inner {
    width: 100%;
    max-width: 980px;
    margin: 0 auto
}

.inner:after {
    display: table;
    content: '';
    clear: both
}

.header h1 {
    float: left;
    font-weight: normal;
    line-height: 1.5;
    margin-left: 40px;
}

.header h1 strong {
    font-size: 2.5em;
    color: #000;
    font-weight: normal
}

.header h1 i {
    color: #BABCBC;
    font-size: 1.5em;
    display: block;
}

.header .avatar, .header .avatar img {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
}

.header .download {
    position: absolute;
    top: 40px;
    right: 0;
    background: #4b72a2;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    transition: all .5s ease 0s;
}

.header .download:hover {
    box-shadow: 3px 3px 0 #143967;
}

.main .inner h2 {
    font-size: 2em;
    font-weight: normal;
    height: 80px;
    line-height: 80px;
    margin-top: 24px;
}

.main .intro .inner p em {
    color: #3498DB;
    margin: 0 4px;
}

.main .intro .inner p strong {
    color: #4b72a2;
    margin: 0 5px;
}

.skills ul {
    width: 100%
}

.skills ul li {
    position: relative;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    -webkit-animation: width 1s ease 0s;
    animation: width 1s ease 0s
}

.skills ul li span {
    display: block;
    padding-left: 10px;
    border-left: 3px solid;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1
}

.skills ul li.item1 span {
    background: #E4FEE3;
    color: #29A824;
    border-color: #52A996
}

.skills ul li.item3 span {
    background: #d6efff;
    color: #2a7da9;
    border-color: #3498db
}

.skills ul li.item2 span {
    background: #FDFECD;
    color: #9A9D2A;
    border-color: #B8BA55
}

.skills ul li.item4 span {
    background: #FACFC7;
    color: #DF4E35;
    border-color: #F27B65
}

.skills ul li.item5 span {
    background: #4b72a2;
    color: #ffffff;
    border-color: #32547d;
}

.skills ul li p {
    position: absolute;
    padding: 10px;
    max-width: 555px;
    top: 10px;
    left: 150px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 3px;
    z-index: 9;
    line-height: 1.8;
    font-size: 14px;
    color: #555;
    opacity: 0;
    transition: opacity .5s ease 0s
}

.skills ul li.item1 span {
    width: 90%
}

.skills ul li.item2 span {
    width: 70%
}

.skills ul li.item3 span {
    width: 60%
}

.skills ul li.item4 span {
    width: 70%
}

.skills ul li.item5 span {
    width: 80%
}

.skills ul li.item6 span {
    width: 70%
}

.skills ul li.item7 span {
    background: #678ebf;
    color: #f9f5f5;
    border-color: #4d6f9a;
    width: 90%;
}

.skills ul li:last-child {
    margin-bottom: 0
}

.skills ul li:hover p {
    opacity: 1
}

@-webkit-keyframes width {
    0% {
        width: 300px
    }

    100% {
        width: 100%
    }
}

@keyframes width {
    0% {
        width: 300px
    }

    100% {
        width: 100%
    }
}

.timeline {
    border-left: 4px solid #ddd
}

.timeline li {
    padding: 40px 0;
    position: relative;
    margin-top: 60px;
}

.timeline li:first-child {
    margin-top: 0;
}

.timeline li i {
    display: block;
    position: absolute;
    left: -14px;
    top: 0;
    width: 18px;
    height: 18px;
    background: #484A50;
    border-radius: 50%;
    border: 3px solid #fff
}

.timeline li span {
    position: absolute;
    left: 14px;
    top: -3px;
    font-size: 1.1em
}

.timeline li section {
    margin: 0 8%
}

.timeline li section h3 {
    font-size: 1em;
    color: #888;
    font-weight: normal;
    margin: 6px 0
}

.timeline li section h3 strong {
    font-size: 1.2em;
    color: #484A50;
    margin-right: 6px
}

.timeline li .last_time {
    position: absolute;
    bottom: 0;
    left: 0
}

.work {
    padding-bottom: 30px
}

.project_list li {
    border-bottom: 1px dashed #C7BBBB;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.project_list li:last-child {
    border-bottom: none;
}

.project_list li h4 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    font-size: 1.2em;
}

.project_list li h4 a {
    color: #3498DB
}

.project_list li h4 a:hover {
    text-decoration: underline
}

.tag span {
    display: inline-block;
    padding: 0 6px;
    margin-right: 10px;
    font-size: .8em;
    height: 22px;
    line-height: 22px;
    border-radius: 3px
}

.tag span.gulp {
    background: #5DD258;
    color: #fff
}

.tag span.js {
    background: #3498DB;
    color: #fff
}

.tag span.vue {
    background: #DA978A;
    color: #f2f2f2
}

.tag span.html5 {
    background: #255A80;
    color: #fff
}

.tag span.css3 {
    background: #ea7c62;
    color: #fff
}

.tag span.sass {
    background: #2c90b7;
    color: #fff
}

.tag span.less {
    background: #dc4793;
    color: #fff
}

.info .time {
    float: left;
    font-size: .9em;
    border-left: 4px solid #3498DB;
    padding-left: 4px;
    color: #888;
    height: 22px;
    line-height: 22px;
    display: block;
    margin-top: 4px
}

.tag {
    float: left;
    margin-left: 30px
}

.info {
    padding-top: 10px
}

.info:after {
    display: table;
    content: '';
    clear: both
}

.project_list li p {
    padding: 10px 0
}

.project_list li strong {
    margin-right: 20px;
}

.project_list li .url {
    font-size: 1.1em;
    color: #DF4E35;
    padding-bottom: 3px;
    border-bottom: 1px solid #3498DB
}

.project_list li a.url:hover {
    border-bottom: none
}

.highLight {
    color: #255A80;
    font-style: italic
}

.ewm {
    width: 150px;
    height: 150px;
    background: #000;
    margin-top: 10px
}

.contact li {
    height: 30px;
    line-height: 30px;
    position: relative;
    text-indent: 30px;
    font-size: 1.2em;
    float: left
}

.contact li i {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(sprite.png) no-repeat;
    left: 0;
    top: 2px
}

.contact li.item2 {
    margin-left: 20%
}

.contact li.item2 i {
    background-position: -41px 0
}

.footer {
    position: relative;
    border-top: 1px solid #ddd;
    width: 100%;
    padding: 30px 0;
    margin-top: 20px
}

.footer img {
    width: 60px;
    height: 60px;
    display: block;
    float: left
}

.footer p {
    width: 20%;
    font-size: .9em;
    color: #888;
    float: left;
    margin-left: 10px;
    margin-top: 3px
}

.footer a {
    float: right;
    color: #3498DB
}

.project_list li:last-child {
    margin-bottom: 0
}

.moreWorks {
    padding: 10px 0;
    font-size: 20px;
    font-style: italic;
}

.moreWorks a {
    text-decoration: underline;
    color: #3498DB;
}

@media screen and (max-width:1024px) {
    .inner {
        width: 94%
    }
}

@media screen and (max-width:768px) {
    .footer p {
        width: 35%
    }

    .header .download {
        top: 10px;
    }

    body {
        padding-top: 128px;
    }
}

@media screen and (max-width:640px) {
    .header h1 {
        margin-left: 20px;
        margin-top: 20px;
        float: left;
    }

    .header h1 strong {
        font-size: 30px;
    }

    .header h1 i {
        font-size: 20px;
    }
}

@media screen and (max-width:520px) {
    body {
        padding-top: 80px;
    }

    .header .avatar, .header .avatar img {
        width: 50px;
        height: 50px;
        margin-top: 6px;
    }

    .header h1 {
        float: left;
        margin-top: 0;
        margin-left: 10px;
    }

    .header h1 i {
        font-size: 16px;
    }

    .header .download {
        top: 0;
        transform: scale(.8);
    }

    .contact li {
        float: none
    }

    .contact li.item2 {
        margin-left: 0
    }

    .header {
        padding: 10px 0
    }

    .main .inner h2 {
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width:375px) {
    .header h1 i {
        font-size: 13px;
    }
}
